@page "/product/{id:int}"

@inject IProductService ProdService
@inject ICustomerService CustService

<PageTitle>Kenkata</PageTitle>


@if (_product == null)
{
    <!-- Loading. Show spinner. -->

    <div class="container d-flex justify-content-center align-items-center vh-50">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <!-- Show banner -->

    <div class="container-fluid banner">
        <div class="container banner-content">

            <div class="path">
                <p>Home</p>
            </div>
            <div>
                <p>&nbsp;/&nbsp;</p>
            </div>
            <div class="path">
                <p>Shop</p>
            </div>
            <div>
                <p>&nbsp;/&nbsp;</p>
            </div>
            <div class="path">
                <p>@_product.Category.GetString()</p>
            </div>
            <div class="d-none d-md-block">
                <p>&nbsp;/&nbsp;</p>
            </div>
            <div class="d-none d-md-block">
                <p>@_product.Name</p>
            </div>

        </div>
    </div>

    <!-- Show product. -->
    <!-- As a start, assume that the first productVariant is the choosen one.  -->

    @if (_choosenProductVariant != null)
    {

        <div class="container product-area">
            <div class="first-column">
                <div class="picture">
                    <img src="images/products/@_choosenProductVariant.ImageUrl" style="height:100%; width:100%;" />
                </div>
            </div>
            <div class="second-column">
                <div class="theme">
                    <h4>@_product.Name</h4>
                </div>
                <div class="product-description">
                    <p>@_product.Description</p>
                </div>
                <div class="price-area">
                    <div class="actual-price">
                        <h4>$@_choosenProductVariant.Price</h4>
                    </div>
                    <div class="list-price">
                        @if (@_choosenProductVariant.Price != @_choosenProductVariant.ListPrice)
                        {
                            <p><del>$@_choosenProductVariant.ListPrice</del></p>
                        }
                    </div>
                    <EditForm Model="_choosenProductVariant">
                        @if (@_choosenProductVariant.Color != ProductColor.NoColor)
                        {
                            <InputSelect class="color-selector" ValueExpression="@(()=>@_selectedColor)" Value="@_selectedColor" 
                                    ValueChanged="@((ProductColor value) => ColorChanged(value))">
                                @foreach (var color in colorList)
                                {
                                    <option value="@color">@color</option>
                                }
                            </InputSelect>                        
                        }

                        <InputSelect class="size-selector" ValueExpression="@(()=>@_selectedSize)" Value="@_selectedSize" 
                                ValueChanged="@((byte value) => SizeChanged(value))">

                            @switch (@_product.Category)
                            {
                            case @ProductCategory.Shoes:
                                @foreach (var size in sizeList)
                                {
                                    <option value="@size">@(((ShoeSize)size).ToShortName())</option>
                                }
                                break;

                            default:
                                @foreach (var size in sizeList)
                                {
                                    <option value="@size">@(((ProductSize)size).ToShortName())</option>
                                }
                                break;
                            }

                        </InputSelect>
                    </EditForm>
                </div>

                <br>

                <div class="button-row mb-5">
                    <div class="btn-number-of-items-group" role="group" aria-label="Increase or decrease number of items to buy.">
                        <button type="button" @onclick="(() => ChangeNumberOfItems(Change.Decrease))" class="rounded-start border-end-0 btn-decrease">
                            <p>-</p>
                        </button>
                        <button type="button" class="btn-number-of-items"><p>@_numberOfItems</p></button>
                        <button type="button" @onclick="(() => ChangeNumberOfItems(Change.Increase))" class="rounded-end border-start-0 btn-increase">
                            <p>+</p>
                        </button>
                    </div>
                    <div>
                        <button type="button" @onclick="AddToCart" class="btn btn-add-to-cart">
                            <div class="d-flex align-items-center ml-5">
                                <i class="bi-cart"></i><span class="ms-1">Add to cart</span>
                            </div>
                        </button>
                    </div>
                </div>

            </div>

        </div>

    }

}

@code {
    [CascadingParameter]
    protected EventCallback<ShoppingCartModel> UpdateShoppingCart { get; set; }
    
    [Parameter]
    public int Id { get; set; } = 0;

    private CustomerModel? _customer;
    private DetailModel? _detail;
    private int _numberOfItems = 1;
    private ProductModel? _product;
    private ProductVariantModel? _choosenProductVariant;
    private ProductColor _selectedColor;
    private byte _selectedSize;
    private ShoppingCartModel? _shoppingCart;

    public List<ProductColor> colorList = new List<ProductColor>();
    public List<byte> sizeList = new List<byte>();

    public enum Change
    {
        Decrease = 0,
        Increase = 1
    }
    protected override async Task OnInitializedAsync()
    {
        _product = await ProdService.GetProduct(Id);
        _choosenProductVariant = _product.ProductVariants.ToList()[0];

        _selectedColor = _choosenProductVariant.Color;
        _selectedSize = _choosenProductVariant.Size;

        colorList = new List<ProductColor>();
        sizeList = new List<byte>();

        foreach (var productVariant in _product.ProductVariants)
        {
            if (productVariant.Size == _choosenProductVariant.Size)
                colorList.Add(productVariant.Color);
            if (productVariant.Color == _choosenProductVariant.Color)
                sizeList.Add(productVariant.Size);
        }
    }

    void ChangeNumberOfItems(Change change)
    {
        if (change == Change.Decrease && _numberOfItems > 0)
        {
            _numberOfItems--;
        }
        else if (change == Change.Increase && _numberOfItems < 99)
        {
            _numberOfItems++;
        }
    }

    void ColorChanged(ProductColor color)
    {
        _selectedColor = color;
        sizeList = new List<byte>();

        foreach (var productVariant in _product.ProductVariants)
        {
            if (productVariant.Color == _selectedColor)
            {
                sizeList.Add(productVariant.Size);
                if (productVariant.Size == _selectedSize)
                    _choosenProductVariant = productVariant;               
            }
        }
    }

    void SizeChanged(byte size)
    {
        _selectedSize = size;
        colorList = new List<ProductColor>();

        foreach (var productVariant in _product.ProductVariants)
        {           
            if (productVariant.Size == _selectedSize)
            {
                colorList.Add(productVariant.Color);
                if (productVariant.Color == _selectedColor)
                    _choosenProductVariant = productVariant;               
            }
        }        
    }
    
    async Task AddToCart()
    {
        if (User != null && User.IsAuthenticated() && User.CustomerId != null)
        {
            _customer = await CustService.GetCustomer((int)User.CustomerId);
            if (_customer != null)
            {
                // In this simplified version assume there is only one shopping cart per customer.
                _shoppingCart = _customer.ShoppingCartModels.ToList()[0];
            }
            else
            {
                // Use a shopping cart that is not yet connected to any customer.
                _shoppingCart = Globals.ShoppingCart;                
            }
        }
        else
        {
            // Use a shopping cart that is not yet connected to any customer.
            _shoppingCart = Globals.ShoppingCart;
        }

        if (_shoppingCart != null)
        {
            // Add product to shopping cart.

            _detail = new DetailModel();
            _detail.RowNr = _shoppingCart.Details.Count + 1;
            _detail.Quantity = _numberOfItems;
            _detail.SubTotal = _detail.Quantity * (int)_choosenProductVariant.Price;
            _detail.ProductVariant = _choosenProductVariant;
            _detail.ProductVariantId = _choosenProductVariant.Id;
            _shoppingCart.Details.Add(_detail);

            // Update cart total in header.

            UpdateShoppingCart.InvokeAsync(_shoppingCart);
        }
    }
}
